# Week 12 - Earn-Back Points Assignment #2

These exercises are entirely optional, but they provide good practice. And you can use them to earn extra points toward your semester grade.  Completing all the questions in this assignment correctly will earn you back 8 points.

There will be 2 more assignments like this between now and the end of the semester, giving you the opportunity to earn back a total of 32 points.

**If anything about the above rules is unclear, please message me on Canvas or via email**

---

## Introduction

The Centers for Medicare and Medicaid Services (CMS) provides lots of information online including a general directory of hospitals in the US. For this set of exercises, we'll be working with a file referred to as [Hospital General Information](https://data.cms.gov/provider-data/dataset/xubh-q36u). **Download this file as a CSV and upload it to your week 13 directory on Jupyter.**

Each of these exercises will involve finding an answer to a specific question and then submitting that.  Your answers must be computed using Python code within this notebook to earn full credit.

You do not need to write functions to compute the answers and do not need to provide any special documentation. You can simply calculate the answers inline in the notebook and then submit your answers using the `answers` dictionary, similar to how most of our part 1 assignments work.

In [1]:
import pandas as pd
answers = {}
df = pd.read_csv('Hospital_General_Information.csv')

---

## Tips

Before you get started, I want to show you a pattern that you might find useful. In the example below, I'm going to summarize a simple data frame, determine which name occurs most often, how often that is, and what the percent of total that represents.  This can be a useful pattern in general and you should be able to apply it below.

In [2]:
df = pd.DataFrame([
    ['Boal','Paul',45],
    ['Boal','Anny',47],
    ['Boal','James',75],
    ['Lester','Sarahlynn',48],
    ['Lester','Carolynn',70]
], columns=['Last Name','First Name','Age'])

df

  Last Name First Name  Age
0      Boal       Paul   45
1      Boal       Anny   47
2      Boal      James   75
3    Lester  Sarahlynn   48
4    Lester   Carolynn   70

In [3]:
# Which family (based on Last Name) has the most people?

# 1. Group by Last Name
# 2. Count how many people are in each family
# 3. Sort by value


by_last_name = df.groupby('Last Name')
family_count = by_last_name['Last Name'].count()
family_sorted = family_count.sort_values(ascending=False)

family_sorted

Last Name
Boal      3
Lester    2
Name: Last Name, dtype: int64

In [4]:
# 4. Extract the "index" (aka Last Name)
# 5. Choose the first value

top_family = list(family_sorted.index)[0]
top_family

'Boal'

In [5]:
# How many members does that family have?

# 6. Choose that family from the counts we already computed.

family_count[top_family]

3

In [6]:
# What percent of total is that?

# 7. Compute a total
# 8. Compute the percent

total = family_count.sum()
pct = family_count[top_family] / total

pct

0.6

---

### E12.01

How many columns are there in this data frame?

In [7]:
df = pd.read_csv('Hospital_General_Information.csv')

In [8]:
# 12.01.How many columns are there in this data frame?

df.shape

(5307, 38)

In [9]:
answers['E12.01'] = "38"

### E12.02

How many hospitals are there in this file? (Each row is one hospital.)

In [10]:
# 12.01.How many columns are there in this data file? (Each row is one hospital.)

df.shape[0]

5307

In [11]:
answers['E12.02'] = "5307"

### E12.03

How many hospitals from Missouri (state abbreviation MO) are in this file?

In [12]:
# 12.03.How many hospitals from Missouri (state abbreviation MO) are in this file

MO_count=df.loc[df['State']=='MO']
MO_count

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
2661,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,Acute Care Hospitals,Voluntary non-profit - Church,...,0,6,4,NaN,8,8,NaN,12,10,NaN
2662,260005,SSM ST JOSEPH HEALTH CENTER,300 1ST CAPITOL DR,SAINT CHARLES,MO,63301,ST. CHARLES,(636) 947-5000,Acute Care Hospitals,Voluntary non-profit - Private,...,1,8,0,NaN,8,8,NaN,12,7,NaN
2663,260006,MOSAIC LIFE CARE AT ST JOSEPH,5325 FARAON STREET,SAINT JOSEPH,MO,64506,BUCHANAN,(816) 271-6000,Acute Care Hospitals,Voluntary non-profit - Private,...,0,9,2,NaN,8,8,NaN,12,10,NaN
2664,260009,BOTHWELL REGIONAL HEALTH CENTER,601 E 14TH ST,SEDALIA,MO,65302,PETTIS,(660) 826-8833,Acute Care Hospitals,Government - Local,...,0,8,2,NaN,8,8,NaN,12,9,NaN
2665,260011,SSM HEALTH ST MARY'S HOSPITAL JEFFERSON CITY,2505 MISSION DRIVE,JEFFERSON CITY,MO,65109,COLE,(573) 681-3000,Acute Care Hospitals,Proprietary,...,0,7,2,NaN,8,8,NaN,12,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2775,264024,LAKELAND BEHAVIORAL HEALTH SYSTEM,440 S MARKET,SPRINGFIELD,MO,65806,GREENE,(417) 865-5581,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19,Not Available,Not Available,19,Not Available,Not Available,19
2776,264030,SIGNATURE PSYCHIATRIC HOSPITAL,2900 CLAY EDWARDS DRIVE,NORTH KANSAS CITY,MO,64116,CLAY,(816) 691-5101,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19,Not Available,Not Available,19,Not Available,Not Available,19
2777,264031,OSAGE BEACH CENTER FOR COGNITIVE DISORDERS,840 PASSOVER ROAD,OSAGE BEACH,MO,65065,CAMDEN,(573) 302-0319,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19,Not Available,Not Available,19,Not Available,Not Available,19
2778,264032,CENTERPOINTE HOSPITAL OF COLUMBIA,1201 INTERNATIONAL DRIVE,COLUMBIA,MO,65202,BOONE,(855) 623-7016,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19,Not Available,Not Available,19,Not Available,Not Available,19
2779,264033,PERIMETER BEHAVIORAL HOSPITAL OF SPRINGFIELD,2828 N NATIONAL,SPRINGFIELD,MO,65803,GREENE,(417) 837-4000,Psychiatric,Proprietary,...,Not Available,Not Available,Not Available,19,Not Available,Not Available,19,Not Available,Not Available,19

In [13]:
answers['E12.03'] = "119"

### E12.04

How many different ZIP Codes from Misouri are represented in this file?

In [14]:
# 12.04.How many different ZIP Codes from Missouri are represented in this file?

len(MO_count['ZIP Code'].value_counts())

109

In [15]:
answers['E12.04'] = "109"

### E12.05

Which of those ZIP Codes has the most hospitals?  If it's a tie, submit your answer as a list of ZIP Codes.  Make sure your answer is submitted as a string or list of strings. Do not submit the ZIP Code values as numbers.

In [16]:
# 12.05.Which of those ZIP Codes has the most hospitals? If it's a tie, submit your answer as a list of ZIP Codes. Make sure

df["ZIP Code"].value_counts()

76104    5
99508    5
75093    5
77030    5
83221    4
        ..
58545    1
60623    1
91342    1
81101    1
65536    1
Name: ZIP Code, Length: 4674, dtype: int64

In [17]:
answers['E12.05'] = "75093", "99508", "76104", "77030"

### E12.06

Which state has the most hospitals?

In [18]:
# 12.06.Which state has the most hospitals?

state_count= df.pivot_table(index='State', aggfunc='size')
state_count.idxmax()

'TX'

In [19]:
answers['E12.06'] = "TX"

### E12.07

How many different Hospital Types are there in this file?

In [20]:
# 12.07.How many different Hospital Types are there in this file?\

len(df['Hospital Type'].value_counts())

5

In [21]:
answers['E12.07'] = "5"

### E12.08

Which Hospital Type has the greatest number of files?

In [22]:
# 12.08.Which Hospital Type has the greatest number of files?

df['Hospital Type'].value_counts()

Acute Care Hospitals                  3223
Critical Access Hospitals             1359
Psychiatric                            599
Childrens                               91
Acute Care - Department of Defense      35
Name: Hospital Type, dtype: int64

In [23]:
answers['E12.08'] = "Acute Care Hospitals"

### E12.09

What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) is represented in that Hospital Type?

In [24]:
# 12.09.What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) is represented in the

round(df['Hospital Type'].value_counts().max()/df.shape[0]*100,2)

60.73

In [25]:
answers['E12.09'] = "60.73"

### E12.10

What percent of the total hospital count (represented as ##.##%, rounded to two decimal places) provide Emergency Services?

In [26]:
# 12.10.What percent of the total hospital count (represented as ##.##%, rounded to to decimal places) provide Emergency

ES=df.loc[df['Emergency Services']=="Yes"]
round(ES.shape[0]/df.shape[0]*100,2)

83.89

In [27]:
answers['E12.10'] = "83.89"

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [28]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week12EB",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
# print(result)

try:
    print('{0:>7}{1:>30}{2:>10}'.format('Q#','Yours','Correct?'))
    for row in result.get('results'):
        print('{0:>7}{1:>30}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))
except:
    print(result)

     Q#                         Yours  Correct?
 E12.01                            38        OK
 E12.02                          5307        OK
 E12.03                           119        OK
 E12.04                           109        OK
 E12.05['75093', '99508', '76104', '77030']        NO
 E12.06                            TX        OK
 E12.07                             5        OK
 E12.08          Acute Care Hospitals        OK
 E12.09                         60.73        OK
 E12.10                         83.89        OK

## Submit your work to github in your week 13 folder by 12/5 11:59 PM